<<<<<<< HEAD
<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
=======
<div class="position-absolute top-50 start-50 translate-middle text-center">
  <h2>We are an amazing team of the most advanced mentors and not lest advanced trainees!</h2>
</div>
>>>>>>> 35c36aba46a61d0f730f4e215e16cd8e6ba687cb
