<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
=======
<div class="position-absolute top-50 start-50 translate-middle text-center">
  <h2>Here is no content yet, try to check some other links!</h2>
</div>
>>>>>>> 35c36aba46a61d0f730f4e215e16cd8e6ba687cb
