<div
  class="bg-image"
  style= "background-image: url('https://i.redd.it/neia1gsl0m161.jpg'); height: 100vh;"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <h1 class="text-white mb-0">Eternal DamnationBnb</h1>
    </div>
  </div>
</div>